#container{
	height: 100vh;
	min-width: 100%;
	margin: auto;
	/*border: black 1px solid;*/
}
#banner{
	border: solid green 2px;
	width: 90%;
	margin: auto;
	text-align: center;
	padding: 5%;

}
#sidebar{
	border: solid green 2px;
	width: 15%;
	text-align: left;
	float: left;
	height: 100%; 
}
#content{
	border: solid green 2px;
	width: 83%;
	margin-top: 1em;
	text-align: left;
	float: left;
	height: 100%;
	margin-left: 1em;

}