.catCursor{
    cursor:url(../images/cursorCat.png), auto;
}
body{
	background-image: url("../images/background.jpg");
	background-color: #cccccc;
}
a:visited{
	color: #FF956E;
}
a:link{
	color: #FF956E;
}
#container{
	overflow: hidden;
	min-height: 100%;
	margin: auto;
	/*border: black 2px solid;*/
	background-color: rgba(255,255,255,0.3);
}
#banner{
	/*border: solid green 2px;*/
	width: 90%;
	margin: auto;
	text-align: center;
	padding: 5%;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 30pt;
	font-weight: bold;
	background-color: rgba(255,255,255,0.6);
}
#sidebar{
	/*border: solid green 2px;*/
	width: 15%;
	text-align: left;
	float: left;
	height: 100%; 
	margin-top: 1em;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 12pt;
	background-color: rgba(255,255,255,0.6);
}
#content{
	/*border: solid green 2px;*/
	width: 82%;
	margin-top: 1em;
	/*text-align: left;*/
	float: left;
	height: 100%;
	margin-left: 1.8em;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 12pt;
	background-color: rgba(255,255,255,0.6);
	padding-left: .5em;
}
.AboutUs{
	text-align: left;
	margin-left: 3%;
	margin-right: 60%;
	margin-top: 2%;
}
.whoAreWe{
	float: left;
}
.wawPics{
	width: 20%;
	float: left;
	margin-right: 1em;
}
.indexpics{
	height: 350px;
	width: 350px;
	float: left;
	padding: 2%;
	position: center;
}
/*This is for the navigation bar*/
#nav{
	padding: 0; /*this got rid of the line indentation for lists*/
	list-style-type: none; /*this gets rid of bullet points for lists*/
}

/*#contentField{
	width:375px;
	display:block;
	border: 1px solid #999;
	height: 75px;
}*/

#messageButton{
	background-color: #FFB871;
	margin-top: 50px;
	padding-top: 10px;
	padding-bottom: 6px;
}
#messageButton.hover{ /*when the mouse hovers over the button, the background will slightly change*/
	background-color: rgb(255,194,123);
}
#emailButton{
	background-color: #FFB871;
	padding-top: 10px;
	padding-bottom: 6px;
}
#emailButton.hover{ /*when the mouse hovers over the button, the background will slightly change*/
	background-color: rgb(255,194,123);
}

.button{
	font-size: 26pt;
	font-family: Helvetica;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
}


.button:hover{ /*when the mouse hovers over the button, the background will slightly change*/
	background-color: rgb(255,194,123);
}
/*Syling for links*/
a:link{
	list-style-type: none;
	text-decoration: none;
}
a:visited {
    text-decoration: none;
}

