body{
	background-color: #37219A;
}
#container{
	overflow: hidden;
	min-height: 100%;
	margin: auto;
	border: black 1px solid;
	background-color: #37219A;
}
#banner{
	/*border: solid green 2px;*/
	width: 90%;
	margin: auto;
	text-align: center;
	padding: 5%;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 30pt;
	font-weight: bold;
	background-color: #6E5EB8;
}
#sidebar{
	/*border: solid green 2px;*/
	width: 15%;
	text-align: left;
	float: left;
	height: 100%; 
	margin-top: 1em;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 12pt;
	background-color: #FFB871;
}
#content{
	/*border: solid green 2px;*/
	width: 82%;
	margin-top: 1em;
	text-align: left;
	float: left;
	height: 100%;
	margin-left: 1em;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 12pt;
	background-color: #4D97A8;
}
.AboutUs{
	text-align: left;
	margin-left: 3%;
	margin-right: 60%;
	margin-top: 2%;
}
.whoAreWe{
	float: left;
}
.wawPics{
	width: 20%;
	float: left;
	margin-right: 1em;
}
.indexpics{
	height: 450px;
	width: 450px;
	float: left;
	padding: 2%;
	margin: auto;
}